* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

.screen1 {
    width: 43rem;
    height: 42rem;
    
    margin: 24rem auto 0;
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;

    background-color: white;

    border-radius: 0.5rem;

    text-align: center;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.4rem;
    font-weight: bold;

    color: #34355B;
}

.screen1 p {
    font-family: "DM Sans", sans-serif;
    font-size: 1.5rem;

    color: #34355B;

    margin: 1.4rem 0 2rem 0;
}

.screen1 button {
    background-color: white;

    border: none;
}

.hide {
    display: none;
}

.screen2 {
    width: 43rem;
    
    margin: 12rem auto 0;
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;

    background-color: white;

    border-radius: 0.5rem;

    text-align: center;
}

#lucky-message {
    font-family: "Dancing Script", cursive;
    font-size: 2.4rem;
    text-align: center;

    color: #000000;

    padding: 2rem;
    margin: 3rem 0 5rem 0;

    background-color: #E4EDF1;

    animation-name: toFadeIn;
    animation-duration: 2s;
}

.screen2 button {
    font-family: "DM Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;

    padding: 1.6rem;

    margin-top: 5rem;

    color: #FFFFFF;
    background-color: #FF9500;

    border: none;
    border-radius: 0.4rem;
}

/* Animations */

body {
    background: linear-gradient(45deg, #190361, #bb00ff);
	animation: gradient 10s ease infinite;
    background-size: 200% 200%;
  }

#cookie:hover {
    cursor: pointer;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

  /* Animação para movimentação do gradiente no background */

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Animação para tremer o biscoito da sorte */

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  /* Animação para a mensagem do biscoito aparecer com um fade in */

  @keyframes toFadeIn {
    0% {
      transform:
      translateY(150px)
      scale(0.1);

    }

    100% {
      transform:
      translateY(0px)
      scale(1);
    }
  }